@media (min-width: 320px) and (max-width: 991px) {
  h1 {
    font-size: 32px;
    width: 248px;
  }

  h2 {
    font-size: 22.4px;
  }

  h3 {
    font-size: 12.8px;
  }

  h4 {
    font-size: 10.24px;
  }

  /* Ruqiyya's section begins  */

  .header-container {
    padding-top: 16px;
    padding-left: 32px;
    margin-bottom: 6.4px;
  }

  .header-logo {
    margin-bottom: 38.4px;
  }

  .header-logo img {
    width: 44.8px;
  }

  .header-info {
    display: flex;
  }

  .header-info-content {
    margin-right: 22.4px;
  }

  .header-info-content p {
    font-size: 8px;
  }

  .header-info-content img {
    width: 8.64px;
    margin-right: 3.2px;
  }
  .movie {
    margin-bottom: 67.2px;
  }

  .movie-container {
    padding-left: 32px;
  }

  .movie-header {
    display: flex;
    /* justify-content: flex-end; */
    /* flex-wrap: wrap; */
    margin-bottom: 33.6px;
  }

  .movie-header-content h1 {
    margin-bottom: 11.2px;
  }

  .movie-header-content p {
    font-size: 8.32px;
    width: 179.2px;
  }

  .movie-header-img {
    margin-right: 27.2px;
  }

  .movie-header-img img {
    width: 121.6px;
  }

  .movie-main-comment {
    width: 192px;
    height: 80px;
    color: #ffffff;
    background: #1e4681;
    border-radius: 1.92px;
  }

  .content {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    width: 169.6px;
    padding: 7.68px 10.24px 0 10.24px;
    font-size: 8.64px;
  }

  .author {
    font-size: 8.64px;
    line-height: 130%;
    padding-right: 9.6px;
    margin-top: 6.4px;
    text-align: right;
  }
  .course {
    margin-bottom: 38.4px;
  }

  .course-container {
    padding-left: 32px;
  }

  .course-header {
    margin-bottom: 17.6px;
  }

  .course-main-content {
    width: 262.4px;
    margin-bottom: 13.44px;
  }

  .course-main-content p {
    font-size: 10.24px;
  }

  .course-main-content p.course-main-content-first {
    margin-bottom: 17.6px;
  }

  .course-main-img {
    display: flex;
    justify-content: center;
    padding-right: 32px;
    margin-bottom: 38.4px;
  }

  .cameraman {
    width: 147.2px;
  }

  .course-footer-img {
    display: none;
  }

  .course-footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .course-footer-content-box {
    margin-bottom: 28.8px;
    margin-right: 15vw;
  }

  .course-footer-content-box h4 {
    margin-bottom: 0.64px;
  }

  .course-footer-content-box p {
    width: 73.6px;
    font-size: 8.32px;
    padding-right: 6.4px;
  }

  /* End of Ruqiyya's section */

  /* Ramim's section begins */

  .format {
    margin-bottom: 67.2px;
  }

  .format-container {
    padding-left: 32px;
  }

  .format-header {
    margin-bottom: 22.4px;
  }

  .format-main-box {
    margin-bottom: 22.4px;
  }

  .format-main h4 {
    color: #1e4681;
    margin-bottom: 3.2px;
  }

  .format-main-box p {
    width: 160px;
    font-size: 8.32px;
    padding-right: 19.2px;
  }
  .knowladge {
    margin-bottom: 67.2px;
  }

  .knowladge-container {
    padding-left: 32px;
  }

  .knowladge-header {
    margin-bottom: 22.4px;
  }

  .knowladge-main-box ul {
    width: 256px;
    padding-left: 16px;
    font-size: 10.24px;
    line-height: 150%;
  }

  /* End of Ramin's section */

  /* Vusal's section begins */

  .course-program {
    margin-bottom: 35.2px;
  }

  .course-program-container {
    padding-left: 32px;
  }

  .course-program-header {
    margin-bottom: 41.6px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 160px;
    height: 128px;
    background: #ffffff;
    margin-bottom: 22.4px;
    margin-right: 25.6px;
    box-shadow: 3.2px 3.2px 9.6px rgba(0, 0, 0, 0.25);
    border-radius: 12.8px;
  }

  .card-img img {
    width: 160px;
  }

  .card-content {
    padding-left: 8px;
    margin-bottom: 8px;
  }

  .card-content h3 {
    margin-bottom: 12.8px;
  }

  .card-content p {
    font-size: 10.24px;
    line-height: 130%;
    padding-right: 38.4px;
    color: #000000;
  }

  .last p {
    margin-top: -12.8px;
  }
  .course-comment-container {
    background-color: #e5e5e5;
    padding-left: 32px;
    padding-top: 35.2px;
    padding-bottom: 35.2px;
  }

  .course-comment-header {
    margin-bottom: 25.6px;
    width: 217.6px;
  }

  .comment-main-box {
    background-color: #ffffff;
    border-radius: 9.6px;
    width: 264px;
    height: 224px;
    padding-left: 17.6px;
    box-shadow: 0.146vw 0.146vw 2.912vw rgba(0, 0, 0, 0.25);
  }

  .comment-main-box-content {
    width: 217.6px;
    padding-top: 19.2px;
    margin-bottom: 19.2px;
  }

  .comment-main-box-content p {
    font-size: 8px;
    line-height: 150%;
    color: #000000;
  }

  .comment-main-box-prof {
    display: flex;
  }

  .comment-main-box-prof-avatar img {
    width: 80px;
  }

  .comment-main-box-prof-info h3 {
    color: #000000;
    padding-top: 16px;
    margin-bottom: 12.8px;
  }

  .comeent-main-box-prof-info img {
    width: 13.44px;
  }

  /* End of Vusal's section */

  /* Rashad's section begins */

  .course-date-container {
    background: #9dc9c8;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 64px;
  }

  .course-date-header {
    margin-bottom: 25.6px;
  }

  .course-date-header h2 {
    width: 192px;
  }

  .course-date-main {
    margin-bottom: 25.6px;
  }

  .course-date-main p {
    font-size: 9.6px;
    line-height: 101.38%;
  }

  .course-date-main span {
    display: block;
    color: #000000;
    font-size: 32px;
    line-height: 101.38%;
  }

  .course-date-footer {
    display: flex;
  }

  .course-date-footer-box {
    margin-right: 22.4px;
    width: 121.6px;
  }

  .course-date-footer-box p span {
    display: block;

    margin-bottom: 6.4px;

    font-size: 10.24px;
    line-height: 101.38%;

    color: #000000;
  }

  .course-date-footer-box p {
    font-style: normal;
    font-weight: normal;
    font-size: 8.32px;
    line-height: 101.38%;
    padding-right: 6.4px;
    color: #000000;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding-left: 32px;
    padding-top: 22.4px;
    padding-bottom: 16px;
  }

  .footer-logo-social {
    margin-bottom: 38.4px;
  }

  .footer-logo-social .logo {
    margin-bottom: 9.6px;
  }

  .footer-logo-social .logo img {
    width: 48px;
  }

  .footer-logo-social .social a img {
    width: 12.8px;
    margin-right: 6.4px;
  }

  .contact {
    margin-bottom: 38.4px;
  }

  .contact p img {
    width: 10.24px;
    margin-right: 6.4px;
  }

  .contact p {
    font-style: normal;
    font-weight: normal;
    font-size: 9.6px;
    line-height: 101.38%;
    color: #ffffff;
    padding-bottom: 9.6px;
  }

  .corp {
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 101.38%;
    color: #ffffff;
  }

  /* End of Rashad's section */
  
}
