@media (min-width: 992px) and (max-width: 1279px) {
  h1 {
    font-size: 54.56px;
  }

  h2 {
    font-size: 37.696px;
  }

  h3 {
    font-size: 19.84px;
  }

  h4 {
    font-size: 17.856px;
  }

  /* Ruqiyya's section begins  */

  .header-container {
    padding-top: 24.8px;
    padding-left: 79.36px;
    margin-bottom: 19.84px;
  }

  .header-logo {
    margin-bottom: 69.44px;
  }

  .header-logo img {
    width: 79.36px;
  }

  .header-info {
    display: flex;
  }

  .header-info-content {
    margin-right: 29.76px;
  }

  .header-info-content p {
    font-size: 14.88px;
  }

  .header-info-content img {
    width: 16.864px;
    margin-right: 9.92px;
  }
  .movie {
    margin-bottom: 79.36px;
  }

  .movie-container {
    padding-left: 79.36px;
  }

  .movie-header {
    display: flex;
    margin-bottom: 59.52px;
  }

  .movie-header-content {
    margin-right: 99.2px;
  }

  .movie-header-content h1 {
    width: 436.48px;
    margin-bottom: 29.76px;
  }

  .movie-header-content p {
    font-size: 14.88px;
    width: 307.52px;
  }

  .movie-header-img {
    margin-right: 168.64px;
  }

  .movie-header-img img {
    width: 218.24px;
  }

  .movie-main {
    display: flex;
    justify-content: center;
    padding-right: 148.8px;
  }

  .movie-main-comment {
    width: 337.28px;
    height: 138.88px;
    color: #ffffff;
    background: #1e4681;
    border-radius: 2.976px;
  }

  .content {
    width: 317.44px;
    font-size: 16.864px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    padding: 13.888px 14.88px 0 19.84px;
  }

  .author {
    font-size: 13.888px;
    line-height: 130%;
    padding-right: 11.904px;
    margin-top: 3.968px;
    text-align: right;
  }
  .course {
    margin-bottom: 119.04px;
  }

  .course-container {
    padding-left: 79.36px;
  }

  .course-header {
    margin-bottom: 54.56px;
  }

  .course-main {
    display: flex;
    margin-bottom: 51.584px;
  }

  .course-main-content {
    width: 456.32px;
    margin-right: 138.88px;
  }

  .course-main-content p {
    font-size: 16.864px;
  }

  .course-main-content p.course-main-content-first {
    margin-bottom: 27.776px;
  }

  .course-main-img {
    display: flex;
    justify-content: center;
    padding-right: 99.2px;
  }

  .cameraman {
    width: 216.256px;
  }

  .course-footer-container {
    display: flex;
  }

  .course-footer-img {
    width: 158.72px;
    margin-right: 128.96px;
  }

  .course-footer-content {
    display: flex;
    align-items: center;
  }

  .course-footer-content-box {
    margin-right: 65.472px;
  }

  .course-footer-content-box h4 {
    margin-bottom: 4.96px;
  }

  .course-footer-content-box p {
    width: 104.16px;
    font-size: 12.896px;
  }

  /* End of Ruqiyya's section */

  /* Ramim's section begins */

  .format {
    margin-bottom: 148.8px;
  }

  .format-container {
    padding-left: 79.36px;
  }

  .format-header {
    margin-bottom: 82.336px;
  }

  .format-main {
    display: flex;
  }

  .format-main-box {
    margin-right: 74.4px;
  }

  .format-main h4 {
    color: #1e4681;
    margin-bottom: 9.92px;
    font-family: "Roboto";
  }

  .format-main-box p {
    font-size: 12.896px;
    width: 198.4px;
  }
  .knowladge {
    margin-bottom: 148.8px;
  }

  .knowladge-container {
    padding-left: 79.36px;
  }

  .knowladge-header {
    margin-bottom: 34.72px;
  }

  .knowladge-main-box ul {
    width: 456.32px;
    padding-left: 19.84px;
    font-size: 16.864px;
  }

  /* End of Ramin's section */

  /* Vusal's section begins */

  .course-program {
    margin-bottom: 64.48px;
  }
  .course-program-header {
    padding-left: 79.36px;
    margin-bottom: 85.312px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 57.536px;
  }

  .card {
    width: 267.84px;
    height: 218.24px;
    margin-bottom: 29.76px;
    margin-right: 24.8px;
    background: #ffffff;
    box-shadow: 9.92px 9.92px 29.76px rgba(0, 0, 0, 0.25);
    border-radius: 19.84px;
  }

  .card-img img {
    width: 267.84px;
  }

  .card-content {
    margin-top: 4.96px;
    padding-left: 11.904px;
  }

  .card-content h3 {
    margin-bottom: 25.792px;
  }

  .card-content p {
    font-size: 15.872px;

    padding-right: 79.36px;
    color: #000000;
  }

  .last p {
    margin-top: -21.824px;
  }
  .course-comment-container {
    background-color: #e5e5e5;
    padding-left: 79.36px;
    padding-top: 62.496px;
    padding-bottom: 76.384px;
  }

  .course-comment-header {
    margin-bottom: 39.68px;
  }

  .comment-main-box {
    background-color: #ffffff;
    border-radius: 19.84px;
    width: 545.6px;
    height: 312.48px;
    padding-left: 29.76px;
    box-shadow: 0.047vw 0.047vw 0.939vw rgba(0, 0, 0, 0.25);
  }

  .comment-main-box-content {
    width: 476.16px;
    padding-top: 26.784px;
    margin-bottom: 19.84px;
  }

  .comment-main-box-content p {
    font-size: 13.888px;
    line-height: 150%;
    color: #000000;
  }

  .comment-main-box-prof {
    display: flex;
  }

  .comment-main-box-prof-avatar img {
    width: 128.96px;
    margin-right: 19.84px;
  }

  .comment-main-box-prof-info h3 {
    padding-top: 23.808px;
    margin-bottom: 19.84px;
    color: #000000;
  }

  .comment-main-box-prof-info img {
    width: 21.824px;
  }
  /* End of Vusal's section */

  /* Rashad's section begins */

  .course-date-container {
    background: #9dc9c8;

    padding-left: 79.36px;
    padding-top: 122.016px;
    padding-bottom: 119.04px;
  }

  .course-date-header {
    margin-bottom: 36.704px;
  }

  .course-date-main {
    margin-bottom: 47.616px;
  }

  .course-date-main p {
    font-size: 16.864px;
    line-height: 101.38%;
  }

  .course-date-main span {
    display: block;
    font-size: 54.56px;
    line-height: 101.38%;
    color: #000000;
  }

  .course-date-footer {
    display: flex;
  }

  .course-date-footer-box {
    margin-right: 47.616px;
    width: 202.368px;
  }

  .course-date-footer-box p span {
    display: block;
    font-size: 15.872px;
    line-height: 101.38%;
    margin-bottom: 7.936px;
    color: #000000;
  }

  .course-date-footer-box p {
    font-style: normal;
    font-weight: normal;
    font-size: 11.904px;
    line-height: 101.38%;
    color: #000000;
  }

  .footer-container {
    background-color: #000000;
    padding-left: 79.36px;
    padding-top: 69.44px;
    padding-bottom: 49.6px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99.2px;
  }

  .footer-logo-social .logo {
    margin-bottom: 19.84px;
  }

  .footer-logo-social .logo img {
    width: 79.36px;
  }

  .footer-logo-social .social a img {
    width: 22.816px;
    margin-right: 16.864px;
  }

  .contact {
    padding-right: 128.96px;
  }

  .contact p img {
    width: 17.856px;
    margin-right: 19.84px;
  }

  .contact p {
    font-style: normal;
    font-weight: normal;
    font-size: 15.872px;
    line-height: 101.38%;
    color: #ffffff;
    padding-bottom: 15.872px;
  }

  .corp {
    font-style: normal;
    font-weight: normal;
    font-size: 11.904px;
    line-height: 101.38%;
    color: #ffffff;
  }

  /* End of Rashad's section */
  
}
