@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Roboto";
  color: #000000;
}

@media (min-width: 1280px) {
  h1 {
    font-size: 70.4px;
  }
  h2 {
    font-size: 48.64px;
  }
  h3 {
    font-size: 25.6px;
  }
  h4 {
    font-size: 23.04px;
  }
  /* Ruqiyya's section begins  */

  .header-container {
    padding-top: 32px;
    padding-left: 102.4px;
    margin-bottom: 25.6px;
  }

  .header-logo {
    margin-bottom: 89.6px;
  }

  .header-logo img {
    width: 102.4px;
  }

  .header-info {
    display: flex;
  }

  .header-info-content {
    margin-right: 38.4px;
  }

  .header-info-content p {
    font-size: 19.2px;
  }

  .header-info-content img {
    width: 21.76px;
    margin-right: 12.8px;
  }
  .movie {
    margin-bottom: 102.4px;
  }

  .movie-container {
    padding-left: 102.4px;
  }

  .movie-header {
    display: flex;
    margin-bottom: 76.8px;
  }

  .movie-header-content {
    margin-right: 128px;
  }

  .movie-header-content h1 {
    width: 563.2px;
    margin-bottom: 38.4px;
  }

  .movie-header-content p {
    font-size: 19.2px;
    width: 396.8px;
  }

  .movie-header-img {
    margin-right: 217.6px;
  }

  .movie-header-img img {
    width: 281.6px;
  }

  .movie-main {
    display: flex;
    justify-content: center;
    padding-right: 192px;
  }

  .movie-main-comment {
    width: 435.2px;
    height: 179.2px;
    background: #1e4681;
    color: #ffffff;
    border-radius: 3.84px;
  }

  .content {
    font-family: Roboto Slab;
    font-size: 21.76px;
    font-style: normal;
    font-weight: normal;
    width: 409.6px;
    padding: 17.92px 19.2px 0 25.6px;
  }

  .author {
    font-size: 17.92px;
    margin-top: 5.12px;
    line-height: 130%;
    padding-right: 15.36px;
    text-align: right;
  }

  .course {
    margin-bottom: 153.6px;
  }

  .course-container {
    padding-left: 102.4px;
  }

  .course-header {
    margin-bottom: 70.4px;
  }

  .course-main {
    display: flex;
    margin-bottom: 66.56px;
  }

  .course-main-content {
    width: 588.8px;
    margin-right: 179.2px;
  }

  .course-main-content p {
    font-size: 21.76px;
  }

  .course-main-content p.course-main-content-first {
    margin-bottom: 35.84px;
  }

  .course-main-img {
    display: flex;
    justify-content: center;
    padding-right: 128px;
    background-color: #ffffff;
  }

  .cameraman {
    width: 279.04px;
    background-color: #ffffff;
  }

  .course-footer-container {
    display: flex;
  }

  .course-footer-img {
    width: 204.8px;
    margin-right: 166.4px;
  }

  .course-footer-content {
    display: flex;
    align-items: center;
  }

  .course-footer-content-box {
    margin-right: 84.48px;
  }

  .course-footer-content-box h4 {
    margin-bottom: 6.4px;
  }

  .course-footer-content-box p {
    width: 134.4px;
    font-size: 16.64px;
  }

  /* End of Ruqiyya's section */

  /* Ramim's section begins */

  .format {
    margin-bottom: 192px;
  }
  .format-container {
    padding-left: 102.4px;
  }
  .format-header {
    margin-bottom: 106.24px;
  }
  .format-main {
    display: flex;
  }
  .format-main-box {
    margin-right: 96px;
  }
  .format-main h4 {
    margin-bottom: 12.8px;
    color: #1e4681;
  }
  .format-main-box p {
    font-size: 16.64px;
    width: 256px;
  }
  .knowladge {
    margin-bottom: 192px;
  }
  .knowladge-container {
    padding-left: 102.4px;
  }
  .knowladge-header {
    margin-bottom: 44.8px;
  }
  .knowladge-main-box ul {
    width: 588.8px;
    padding-left: 25.6px;
    font-size: 21.76px;
  }

  /* End of Ramin's section */

  /* Vusal's section begins */

  .course-program {
    margin-bottom: 83.2px;
  }
  .course-program-header {
    padding-left: 102.4px;
    margin-bottom: 110.08px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 74.24px;
  }

  .card {
    margin-bottom: 38.4px;
    margin-right: 32px;
    background: #ffffff;
    width: 345.6px;
    height: 281.6px;
    box-shadow: 12.8px 12.8px 38.4px rgba(0, 0, 0, 0.25);
    border-radius: 25.6px;
  }

  .card-img img {
    width: 345.6px;
  }

  .card-content {
    margin-top: 6.4px;
    padding-left: 15.36px;
  }

  .card-content h3 {
    margin-bottom: 33.28px;
  }

  .card-content p {
    font-size: 20.48px;
    padding-right: 102.4px;
    color: #000000;
  }

  .last p {
    margin-top: -28.16px;
  }
  .course-comment-container {
    background-color: #e5e5e5;
    padding-left: 102.4px;
    padding-top: 80.64px;
    padding-bottom: 98.56px;
  }

  .course-comment-header {
    margin-bottom: 51.2px;
  }

  .comment-main-box {
    background-color: #ffffff;
    width: 704px;
    height: 403.2px;
    border-radius: 25.6px;
    padding-left: 38.4px;
    box-shadow: 0.036vw 0.036vw 0.728vw rgba(0, 0, 0, 0.25);
  }

  .comment-main-box-content {
    width: 614.4px;
    padding-top: 34.56px;
    margin-bottom: 25.6px;
  }

  .comment-main-box-content p {
    color: #000000;
    font-size: 17.92px;
    line-height: 150%;
  }

  .comment-main-box-prof {
    display: flex;
  }

  .comment-main-box-prof-avatar img {
    width: 166.4px;
    margin-right: 25.6px;
  }

  .comment-main-box-prof-info h3 {
    color: #000000;
    padding-top: 30.72px;
    margin-bottom: 25.6px;
  }

  .comment-main-box-prof-info img {
    width: 28.16px;
  }

  /* End of Vusal's section */

  /* Rashad's section begins */

  .course-date-container {
    background: #9dc9c8;
    padding-left: 102.4px;
    padding-top: 157.44px;
    padding-bottom: 153.6px;
  }

  .course-date-header {
    margin-bottom: 47.36px;
  }

  .course-date-main {
    margin-bottom: 61.44px;
  }

  .course-date-main p {
    font-size: 21.76px;
    line-height: 101.38%;
  }

  .course-date-main span {
    display: block;

    font-size: 70.4px;
    line-height: 101.38%;

    color: #000000;
  }

  .course-date-footer {
    display: flex;
  }

  .course-date-footer-box {
    margin-right: 61.44px;
    width: 261.12px;
  }

  .course-date-footer-box p span {
    color: #000000;
    display: block;
    margin-bottom: 10.24px;
    font-size: 20.48px;
    line-height: 101.38%;
  }

  .course-date-footer-box p {
    font-style: normal;
    font-weight: normal;
    font-size: 15.36px;
    line-height: 101.38%;
    color: #000000;
  }

  .footer-container {
    background-color: #000000;
    padding-left: 102.4px;
    padding-top: 89.6px;
    padding-bottom: 64px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
  }

  .footer-logo-social .logo {
    margin-bottom: 25.6px;
  }

  .footer-logo-social .logo img {
    width: 102.4px;
  }

  .footer-logo-social .social a img {
    width: 29.44px;
    margin-right: 21.76px;
  }

  .contact {
    padding-right: 166.4px;
  }

  .contact p img {
    width: 23.04px;
    margin-right: 25.6px;
  }

  .contact p {
    font-style: normal;
    font-weight: normal;
    font-size: 20.48px;
    line-height: 101.38%;
    padding-bottom: 20.48px;
    color: #ffffff;
  }

  .corp {
    font-size: 15.36px;
    font-style: normal;
    font-weight: normal;
    line-height: 101.38%;
    color: #ffffff;
  }

  /* End of Rashad's section */
  
}
